page-feed {
    h2.feed_title {
        color: blueviolet;
        font-weight:bold;    
    }
    p.feed_date {
        color:  green;
        font-weight: bold;
    }
    p.feed_coment {
        color: red;
        font-weight:  bold;
    }
}
